/*----------------------------------MAIN TIENDA----------------------------------*/

main {
    background-color: map-get($colores, color-fondo);

    .tabla-medidas {
        padding: 25px;
        margin-top: 30px;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;

        .medidas {
            width: 250px;
        }
    }

    .cartel-productos{
        margin: 25px;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        h4{
            padding: 20px;
            color: map-get($colores , color-secundario);
            text-align: center;
        }
    }

    .cards-ropa {
        width: 80%;
        margin: 0 auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .ropa-venta {
            padding: 10px;
            margin: 20px auto;
            width: 250px;
            height: 510px;
            background-color: map-get($colores, color-secundario);
            border-radius: 10px;

            .producto {
                width: 230px;
                height: 300px;
                transition-duration: 2s;

                &:hover {
                    scale: (1.4);
                }
            }

            p {
                padding: 10px;
                margin: 5px;
                @include texto (#ddd, 16px, center, normal, none);
            }

            .tamaño {
                margin: 10px auto;
                display: flex;
                justify-content: center;

                ul {
                    li {
                        .talle {
                            &:hover {
                                background-color: rgb(71, 142, 235);
                            }
                        }
                    }
                }
            }

            .carrito {
                padding: 8px;
                display: flex;
                justify-content: center;
                font-size: 12px;
                color: black;
                text-decoration: none;
                background-color: map-get($colores, color-fondo);
                transform: scale (2);

                &:hover {
                    background-image: linear-gradient(to right, rgb(56, 56, 56), gray);
                    color: #ddd;
                }
            }
        }
    }
    .info-extra{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        .cards {
            padding: 10px;
            margin: 30px auto;
            width: 230px;
            height: auto;
            text-align: center;
            i{
                padding: 25px;
                font-size: 50px;
            }
            p{
                font-size: 20px;
            }
        }
    }   
}




